@media screen and (max-width: 1024px){
    .container{
        width: 100%;
    }
    .card{
        width: 40rem;
    }
}
@media screen and (max-width: 768px){
    .container{
        width: 100%;
    }
    .card{
        width: 25rem;
    }

    .logo{
        font-size: 1.7rem;
    }

    .searchBox .search{
        width: 13rem;
        padding: 8px;
    }

    .searchBox .searchBtn{
        padding: 9px;
    }
}
@media screen and (max-width: 425px){
    .container{
        width: 100%;
    }
    .card{
        width: 25rem;
    }

    .logo{
        font-size: 1.7rem;
    }

    .searchBox{
        display: none;
    }
}
@media screen and (max-width: 430px){
    .container{
        width: 100%;
    }
    .card{
        width: 25rem;
    }

    .logo{
        font-size: 1.7rem;
    }

    .searchBox{
        display: none;
    }
}
@media screen and (max-width: 540px){
    .container{
        width: 100%;
    }
    .card{
        width: 25rem;
    }

    .logo{
        font-size: 2rem;
    }

    .searchBox{
        display: none;
    }
}
@media screen and (max-width: 280px){
    .container{
        width: 100%;
    }
    .card{
        width: 40rem;
    }

    .logo{
        font-size: 1.5rem;
    }

    .searchBox{
        display: none;
    }
}